.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.purple {
  color: rgb(122, 75, 166);
}

.small {
  font-size: medium;
  color: rgb(115, 128, 128);
}
.search {
  color: brown;
}

.inputSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.box {
  margin-top: 2rem;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: bisque;
}
